.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50vh;
    max-width: 500px;
    border-radius: 8px;
    padding-inline: 1rem;
  }
}
